body{
    background-color: rgb(247, 229, 232);
}
.jumbotron{
    padding: 1rem 0rem;
    margin: 0px;
}
.container{
    max-width: 100%;
    padding: 0px;
}
.row{
    max-width: 100%;
    margin: 0px;
    padding: 0px;
}
.col-md-4{
    padding: 15px;
}
.col-md-8{
    padding: 15px;
}

.low{
    background-color: green;
    color: black;
    padding: 5px;
    border-radius: 5px;
}

.moderate{
    background-color: yellow;
    color: black;
    padding: 5px;
    border-radius: 5px;
}

.high{
    background-color: orange;
    color: black;
    padding: 5px;
    border-radius: 5px;
}

.very-high{
    background-color: red;
    color: black;
    padding: 5px;
    border-radius: 5px;
}

.extreme{
    background-color: violet;
    color: black;
    padding: 5px;
    border-radius: 5px;
}

.card{
    padding: 10px;
}

.weatherIcon{
    width: 10%;
}

.forecastIcon{
    max-width: 50%;
}

#forecast-day1{
    background-color: rgb(248, 0, 145);
    border-radius: 10px;
    color: white;
    margin: 5px;
}

#forecast-day2{
    background-color: rgb(248, 0, 145);
    border-radius: 10px;
    color: white;
    margin: 5px;
}
#forecast-day3{
    background-color: rgb(248, 0, 145);
    border-radius: 10px;
    color: white;
    margin: 5px;
}
#forecast-day4{
    background-color: rgb(248, 0, 145);
    border-radius: 10px;
    color: white;
    margin: 5px;
}
#forecast-day5{
    background-color: rgb(248, 0, 145);
    border-radius: 10px;
    color: white;
    margin: 10px;
}
.form-control{
    font-size: 22px;
}
h6{
    font-size: 20px;
}

.input-group-append button{
    background-color: rgb(174, 252, 255);
    border-color: rgb(2, 138, 156);
    width: 70px;
    font-size: 22px;
    border-radius: 10px;
}
